---
layout: default
---

<header>
  <!---<h1>{{ site.title | escape }}</h1>--->
  <a href="https://eacxns.com" class="logo">EACxNS</a>
  <!---<a href="/"><img src="assets/logo.svg" alt="logo" width="40" height="40"></a>--->
  <ul>
    <li><a href="https://twitter.com/eacxns">Twitter</a></li>
    <li><a href="https://github.com/eacxyz">GitHub</a></li>
  </ul>
</header>

<main>

{{ content }}

<hr />

  {%- if site.posts.size > 0 -%}
    <h2>{{ page.list_title | default: "Writing" }}</h2>
    <ul class="more-space">
      {%- for post in site.posts limit:10 -%}
      <li><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
      <li><a class="post-link" href="https://mirror.xyz/0x89cDa50cc18C273D823efF5b6E8605Fa3484c502/0qaRokY7JpHqQWzmOfNvksi9moDObYGKqHcpoplNNlM">Writing in Public</a></li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</main>