---
layout: default
---

<header>
  <!---<h1>{{ site.title | escape }}</h1>--->
  <a href="/" class="logo">{{ site.title | escape }}</a>
  <ul>
    <li><a href="https://eacxns.beehiiv.com/">Newsletter</a></li>
    <li><a href="https://twitter.com/eacxns">Twitter</a></li>
    <li><a href="https://github.com/eacxyz">GitHub</a></li>
  </ul>
</header>

<main>

{{ content }}
<iframe src="https://embeds.beehiiv.com/3b0d7136-dc4c-46b4-b517-491db6cf4304?slim=true" data-test-id="beehiiv-embed" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
<hr />

  {%- if site.posts.size > 0 -%}
    <h2>{{ page.list_title | default: "Writing" }}</h2>
    <ul class="more-space">
      {%- for post in site.posts limit:10 -%}
      <li><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</main>